# Compiled and packaged files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log files and temporary artifacts
*.log
.mtj.tmp/
hs_err_pid*
replay_pid*
*.ctxt

# IDE and OS files
.DS_Store
.project
.classpath
.settings/
.idea/
*.iml
.vscode/

# Build artifacts and directories
/node_modules/
/build/
/dist/
/target/
/out/
/local_testing/
.react-router/

# Maven-specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
