<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
	packages="org.apache.logging.log4j.core,io.sentry.log4j2">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Sentry name="Sentry"
			dsn="https://845dd69949b5440fd4ed1687b71bdb79@o4509022198431744.ingest.de.sentry.io/4510216659861584"
			minimumBreadcrumbLevel="TRACE" minimumEventLevel="WARN"
			minimumLevel="TRACE" />
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Sentry" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>