name: Java CI pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install and build React frontend
        working-directory: auth-react
        run: |
          npm ci
          npm run build
  
      - name: Copy React build to Java webapp
        run: |
          find auth/src/main/webapp -mindepth 1 -maxdepth 1 ! -name 'WEB-INF' -exec rm -rf {} +
          if [ ! -d "auth-react/dist" ]; then
            echo "ERROR: auth-react/dist does not exist!" >&2
            exit 1
          fi
          cp -av auth-react/dist/. auth/src/main/webapp/

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Set up sentry-cli
        uses: matbour/setup-sentry-cli@v1
        with:
          token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          organization: hriday-jg
          project: secrets-app

      - name: Build with Maven
        run: |
          cd secrets
          mvn clean package --no-transfer-progress

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: secrets-war
          path: secrets/target/secrets.war
          if-no-files-found: error

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: secrets-war
          path: ${{ github.workspace }}/secrets/target/

      - name: Deploy to Tomcat via Manager
        run: |
          if [ ! -f "${{ github.workspace }}/auth/target/auth.war" ]; then
            echo "WAR file not found!"
            exit 1
          fi
          curl --fail --show-error --retry 3 --retry-delay 5 -T "${{ github.workspace }}/secrets/target/secrets.war" \
            --user "${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASS }}" \
            "https://api.hridaykh.in/manager/text/deploy?path=/secrets&update=true"